@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Serif+Ahom&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Serif+Ahom&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 50%;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin: 0 0 10px;
    color: #081F32;
    font-family: "DM Serif Display", serif;
  }
  
  .card-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 25pp;
    color: #6E798C;
    margin-bottom: 15px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 15px;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .current-price {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
  }
  
  .old-price {
    font-size: 1rem;
    color: #d9534f;
    text-decoration: line-through;
  }
  
  .order-button {
    background: #2ECC71;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 18%;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.3s;
  }
  
  .order-button:hover {
    background-color: #218838;
    gap: 50px;
  }